<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Posts - Mini SNS</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/posts.css">
</head>

<body>
   <%- include("header") %>
    <h1>📋 Recent Posts</h1>

    <div class="post-list">
        <% posts.forEach(function(post) { %>
             <%- include("feed",{feed:post}) %> 
             <%  });
             %>

    <!-- Container for all posts -->
     <!-- Example post 1 -->
      <div class="post">
        <strong>Alice</strong><br />
        <span>Hello, this is my first post!</span>
        <div class = "comment-count"> Comments (0)</div>
        <input type="text" class="comment-input" placeholder="Write a comment..." />
        <button class="add-comment">Add Comment</button>
        <div class="comments"></div>    
      </div>
      <hr />

      <!-- Example post 2 -->
      <div class="post">
        <strong>Bob</strong><br />
        <span>Today I learned how to create a form in HTML.</span>
        <div class ="comment-count"> Comments (0)</div>

        <input type ="text" class="comment-input" placeholder = "Write a comment..."
        <button class="add-comment">Add Comment</button>
        <div class="comments"></div>
      </div>
      <hr />
    </div>

    

    </div>

    <br />
    <%- include("footer") %>
    
</body>
<script src="js/posts.js"></script>
</html>